body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.purchase {
    display: flex;
    justify-content: space-between;
}

.price {
    display: flex;
}

.paymentBtn {
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 500;
}

.paymentBtn:hover{
    background-color: rgb(35, 116, 221);
}

.cancelBtn {
    opacity: 0.7;
    border: 1px solid white;
    font-weight: 500;
}

.cancelBtn:hover {
    opacity: 1;
}